# Python >= 3.10 required (see setup.py)
datasets
huggingface-hub
ipywidgets
matplotlib
numpy
opencv-python
Pillow
plotly
pycolmap>=0.6
scipy
torch
trimesh
webdataset
manifold3d  # for metric computation